.mkwsLang,
.mkwsSwitch,
.mkwsSearch,
.mkwsTermlists,
.mkwsFacet,
.mkwsRanking,
.mkwsPager,
.mkwsNavi,
.mkwsRecords,
.mkwsRecord,
.mkwsTargets,
.mkwsStat,
.mkwsMOTD {
    font-family: Gill Sans, "Gillius ADF", Gillius, GilliusADF, Verdana, Sans-Serif;
}

.mkwsLang {
    float: left;
    padding-left: 1em;
    padding-top: 0.4em;
}

.mkwsLang a {
    background: #d0e0ff;
    padding: 1px 4px;
}

.mkwsLang span {
    border: solid 1px #d0e0ff;
    padding: 0px 3px;
}

.mkwsSearch {
    float: right;
}

.mkwsSwitch {
    float: right;
    padding-left: 1em;
    padding-top: 0.4em;
}

.mkwsTargets {
    background-color: #fafafa;
}

.mkwsStat {
    margin-top: 10px;
    border-top: 1px solid  #156a16;
    padding-top: 5px;
    font-size: small;
}

.mkwsStat span.head {
    font-weight: bold;
}

.mkwsSwitch a,
.mkwsLang a,
.mkwsFacet a,
.mkwsRanking a,
.mkwsPager a,
.mkwsNavi a,
.mkwsRecords a,
.mkwsRecord a {
    color: #005701;
    text-decoration: none;
}

.mkwsSwitch a:hover,
.mkwsLang a:hover,
.mkwsFacet a:hover,
.mkwsPager a:hover,
.mkwsRecords a:hover,
.mkwsRecord a:hover {
    text-decoration: underline;
}

.mkwsNavi a.mkwsRemovable:hover {
    text-decoration: line-through;
}

.mkwsSearch input.mkwsButton {
    border: 3px outset #132194;
    background-color: #132194;
    padding: 2px;
    width: 6em;
    color: #FFFFFF;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 10px;
    margin-left: 8px;
    cursor: pointer;
}

.mkwsSearch input.mkwsQuery {
    border: 2px inset #e0f0ff;
    padding: 3px;
    font-size: 12px;
    background: #f0f8ff;
}

.mkwsTermlists .title {
    font-size: large;
    font-weight: bold;
    text-transform: uppercase;
}

.mkwsTermlists {
    background: #d0e0ff;
    padding: 0.7em;
    font-size: small;

    border-top-right-radius: 10px;
    -moz-border-top-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
}

.mkwsFacet {
    background: #e0f0ff;
    padding: 0.7em;
    margin-top: 0.7em;

    border-top-right-radius: 10px;
    -moz-border-top-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
}

.mkwsFacet div.term {
    clear: both;
}

.mkwsFacet div.term span {
    float: right;
}

.mkwsFacet div.termtitle {
    font-weight: bold;
}

.mkwsRecords div.record,
.mkwsRecord div.record {
    padding: 5px;
}

.mkwsDetails {
    border: 1px solid #404040;
    background: #e8e8e8;
    color: black;
    padding: 5px 10px;
    margin: 10px 0px;
    box-shadow: 10px 10px 5px #808080;

    border-top-right-radius: 10px;
    -moz-border-top-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
}

.mkwsDetails th {
    text-align: right;
    vertical-align: top;
    padding-right: 0.6em;
}

.mkwsDetails th:after {
    content: ":";
}

.mkwsPager {
    background: #e0e0e0;
    padding: 0.3em;
}

.mkwsTargets table thead tr td {
    background-color: #132194;
    color: white;
    font-weight: bold;
    padding: 0.2em 0.5em;
}

.mkwsTargets table tbody tr:nth-child(odd) {
    background-color: #e0f0ff;
}

.mkwsTargets table tbody tr:nth-child(even) {
    background-color: #d0e0ff;
}

.mkwsTargets table tbody tr td {
    padding: 0.2em 0.5em;
}

.mkwsCurrentPage {
    padding: 0.1em 0.5em;
    background: #508751;
    color: white;
}
