{{!
Progress

done - number of targets complete
waiting - number of targets waiting
}}
<span class="mkwsDone">{{#mkws-repeat done}}&#x2588;{{/mkws-repeat}}</span>
{{~#if waiting~}}
<span class="mkwsWaiting">{{#mkws-repeat waiting}}&#x2588;{{/mkws-repeat}}</span>
{{~/if~}}

