{{!
Switch between record and target view

recordClick - handler to switch to record view
targetClick - handler to switch to target view
}}
<a href="#" onclick="{{{recordClick}}}">{{{mkws-translate "Records"}}}</a>
<span>|</span>
<a href="#" onclick="{{{targetClick}}}">{{{mkws-translate "Targets"}}}</a>
