language: node_js 
matrix:
  include:
    - os: linux
      dist: trusty
      env:
       - MY_OS=trusty
      node_js:
       - "5"
    - os: linux
      dist: precise
      env:
       - MY_OS=precise
      node_js:
       - "4"
#    - os: osx
#      osx_image: xcode7.2
#      env:
#       - MY_OS=macos
addons:
 apt:
  packages:
   - curl
   - git 
   - make 
   - unzip 
   - apache2 
   - pandoc

before_install:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew update          ; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install pandoc; fi

before_script:
 - true

script:
 - PHANTOMJS_TIMEOUT=40 make check
