#mkwsLang, #mkwsSwitch, #mkwsSearch, #mkwsRecords, #mkwsTargets, #mkwsStat {
    font-family: Gill Sans, "Gillius ADF", Gillius, GilliusADF, Verdana, Sans-Serif;
}

#mkwsLang {
    float: left;
    padding-left: 1em;
    padding-top: 0.4em;
}

#mkwsSearch {
    float: right;
}

#mkwsSwitch {
    float: right;
    padding-left: 1em;
    padding-top: 0.4em;
}

#mkwsRecords {
    background-color: #fafafa;
    border-bottom: 1px solid  #156a16;
}

#mkwsTargets {
    background-color: #fafafa;
    border-bottom: 1px solid  #156a16;
}

#mkwsStat {
    font-size: small;
} 

#mkwsStat span.head {
    font-weight: bold;
}

#mkwsStat span.clients:before {
    content: "Active clients: ";
}

#mkwsStat span.records:before {
    content: "Retrieved records: ";
}

#mkwsSwitch a, #mkwsLang a, #mkwsRecords a {
    color: #005701; 
    text-decoration: none;
}

#mkwsSwitch a:hover, #mkwsLang a:hover, #mkwsRecords a:hover {
    text-decoration: underline;
}

#mkwsRecords a.crossout:hover {
    text-decoration: line-through;
}

#mkwsSearch input#button {
    border: 3px outset #132194;
    background-color: #132194;
    padding: 2px;
    width: 6em;
    color: #FFFFFF;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 10px;
    margin-left: 8px;
    cursor: pointer;
}

#mkwsSearch input#query {
    border: 2px inset #34cc67;
    padding: 3px;
    font-size: 12px;
}

#mkwsRecords hr {
    display: none;
}

#mkwsRecords div.termtitle {
    margin: 4px;
    font-weight: bold;
}

#mkwsRecords div.record {
    padding: 5px;
}

#mkwsRecords div.details {
    border: 3px solid gray;
    color: darkgray;
    padding: 5px;
    margin: 4px;
}
