{{!
A facet in the search.

name - facet identifier, typically English and lowercase
caption - caption for this facet
terms:
  term - term name
  count - count of items matching in the current search for this team
  href - link for facet
}}

<div class="mkws-facet-title mkwsFacetTitle">{{{mkws-translate caption}}}</div>
{{#each terms}}
  <div class="mkws-term mkwsTerm">
    <a href="{{href}}">{{term}}</a> <span>{{count}}</span>
  </div>
{{/each}}
