{{!
Search form

team - MKWS team
}}
<form name="mkws-search-form" class="mkws-search-form mkws-team-{{team}}" action="">
  <input class="mkws-query mkws-query mkwsQuery mkws-team-{{team}}" type="text"/>
  <input class="mkws-button mkws-button mkwsButton mkws-team-{{team}}" type="submit" value="{{{mkws-translate "Search"}}}"/>
</form>

