# Configuration for the apache web server                 -*- apache -*-

User ${APACHE_RUN_USER}
Group ${APACHE_RUN_GROUP}
PidFile ${APACHE_PID_FILE}

# pazpar2 / service proxy config
<VirtualHost *:4040>
    ServerName localhost
    ServerAlias mkws-dev a.mkws.indexdata.com a.mkws-dev.indexdata.com mkws-dev.indexdata.com 127.0.0.1

    ServerAdmin webmaster@indexdata.com
    ErrorLog ${APACHE_LOG_DIR}/mkws-dev-error.log
    CustomLog ${APACHE_LOG_DIR}/mkws-dev-access.log combined

    RewriteEngine on
    RewriteLogLevel 1
    RewriteLog ${APACHE_LOG_DIR}/mkws-dev-rewrite.log 

    DocumentRoot ${MKWS_ROOT}/examples/htdocs
    Alias /tools/htdocs ${MKWS_ROOT}/tools/htdocs

    # CORS setting
    Header set Access-Control-Allow-Credentials true
    Header set Access-Control-Allow-Origin "*"

    # compress text output
    <Location />
        AddOutputFilterByType DEFLATE text/html text/plain text/xml application/xml
        SetOutputFilter DEFLATE 
    </Location> 

    # jasmine test account
    RewriteRule /service-proxy-testauth  /service-proxy/?command=auth&action=login&username=mkwstest&password=mkwstest [P] # [NE,P]

    # mkws devel account (e.g. memached testing)
    RewriteRule /service-proxy-auth  /service-proxy/?command=auth&action=login&username=mkwsdev&password=mkwsdev [P] # [NE,P]

    ProxyPass        /service-proxy/ http://mkc.indexdata.com:9009/service-proxy/
    ProxyPassReverse /service-proxy/ http://mkc.indexdata.com:9009/service-proxy/

    ProxyPass        /pazpar2/         http://localhost:8004/pazpar2/
    ProxyPassReverse /pazpar2/         http://localhost:8004/pazpar2/

</VirtualHost>

