body {
  font-family: Gill Sans, "Gillius ADF", Gillius, GilliusADF, Sans-Serif;
}
h1, div#header h2, h3 { font-weight: normal; color: #606060 }
h2 { margin-top: 0.5em }
div#header h2 { font-size: 120% }
.pane {
  padding: 0em 1em; margin: 0.75em;
  border: 0.5em solid #eee;
  border-radius: 1em;
  background-image: url('images/mkws-logo-48x48-light.png');
  background-repeat: no-repeat;
  background-position: right top;
  background-color: #eee; 
}
.pane h1 a, .pane h2 a, .pane h3 a { text-decoration: none; color: black }
.nologo { background-image: none }
pre { background: #ddd; padding: 0.5em; }
img:first-of-type { float: right; margin: 1.5em }
