body {
  font-family: Gill Sans, "Gillius ADF", Gillius, GilliusADF, Sans-Serif;
  font-weight: normal;
}
h1, h2, h3 { color: #606060 }
h2 { margin-top: 0.5em }
h1.title, h2.author, h3.date { font-weight: normal }
div#header h2 { font-size: 120% }
div#header h3 { font-size: 100% }
.pane {
  padding: 0em 1em; margin: 0.75em;
  border: 0.5em solid #eee;
  border-radius: 1em;
  background-image: url('images/mkws-logo-48x48-light.png');
  background-repeat: no-repeat;
  background-position: right top;
  background-color: #eee; 
}
// Somehow, "-n+3" is how you say "first three panes"
.pane:nth-child(-n+3) {
  background-image: none;
}
.pane h1 a, .pane h2 a, .pane h3 a { text-decoration: none; color: black }
pre { background: #ddd; padding: 0.5em; }
img:first-of-type { float: right; margin: 1.5em }
body > p:last-of-type {
    text-align: right;
    font-size: small;
}

table { border-collapse: collapse; }
tr.header { color: #fff; background: #888; }
tr.odd { background: #ddd }
tr.even { background: #ccc }
table, th, td { border: 1px solid #bbb; }
td { vertical-align: top; }
td, th { padding: 0.3em 0.6em; }
