.mkwsCredo {
    font-family: Gill Sans, "Gillius ADF", Gillius, GilliusADF, Verdana, Sans-Serif;
}

.mkwsCredo table {
    width: 100%;
    border-collapse: collapse;
}

.mkwsCredo table tr.front {
    background: #ddf3c3;
}

.mkwsCredo table tr:first-child td:first-child {
    width: 70%;
}

.mkwsCredo table tr:first-child .section {
    margin: 10px;
    border: 1px solid #c0c0c0;
}

.mkwsCredo table tr {
    vertical-align: top;
}

.mkwsCredo .front div.title {
    font-size: 150%;
    font-weight: bold;
    color: white;
    background: #666699;
    padding: 0.25em 0.5em;
}

.mkwsCredo div.title {
    font-size: 150%;
    font-weight: bold;
    color: #666699;
    background: #ddf3c3;
    padding: 0.25em 0.5em;
}

.mkwsCredo div.content {
    background: white;
    padding: 0.5em 1em;

    // Next is needed to make this area grow to contain floated images.
    // See http://www.quirksmode.org/css/clearing.html
    overflow: auto;
}

.mkwsReference h1 {
    display:none;
}

.mkwsReference img {
    float: left;
    margin: 0 1.5em 1em 0;
    border: 2px solid #c0c0c0;
    padding: 0.5em;
}

.mkwsCredo .image .mkwsSummary {
    float: left;
}

.mkwsCredo .image a {
    text-decoration: none;
}

.mkwsCredo hr.divider {
    margin: 20px 1%;
    border-top: 3px dotted #c0c0c0;
    color: #fff;
    background-color: #fff;
    height: 0;
    width: 98%;
}

.mkwsCredit {
    font-size: small;
    text-align: right;
}

.mkwsCredit::before {
    content: "Source: ";
    font-weight: bold;
}
