.mkws-wikipedia,
.mkws-reference {
    max-width: 40em;
    font-family: Gill Sans, "Gillius ADF", Gillius, GilliusADF, Verdana, Sans-Serif;
    background: #f0f0e0;
    padding: 0.5em 1em;
    border: 1px solid #c0c0a0;
    border-radius: 1em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
}

.mkws-wikipedia h1 a,
.mkws-reference h1 a {
    color: #806020;
}

.mkws-wikipedia a,
.mkws-reference a {
    text-decoration: none;
}

.mkws-wikipedia img,
.mkws-reference img {
    float: right;
    margin: 0 0 1em 2em;
    border: 0.5em solid white;
}

.mkws-credit {
    font-size: small;
    text-align: right;
}

.mkws-credit::before {
    content: "Source: ";
    font-weight: bold;
}
