.mkws-credo {
    font-family: Gill Sans, "Gillius ADF", Gillius, GilliusADF, Verdana, Sans-Serif;
}

.mkws-credo table {
    width: 100%;
    border-collapse: collapse;
}

.mkws-credo table tr.front {
    background: #ddf3c3;
}

.mkws-credo table tr:first-child td:first-child {
    width: 70%;
}

.mkws-credo table tr:first-child .section {
    margin: 10px;
    border: 1px solid #c0c0c0;
}

.mkws-credo table tr {
    vertical-align: top;
}

.mkws-credo .front div.title {
    font-size: 150%;
    font-weight: bold;
    color: white;
    background: #666699;
    padding: 0.25em 0.5em;
}

.mkws-credo div.title {
    font-size: 150%;
    font-weight: bold;
    color: #666699;
    background: #ddf3c3;
    padding: 0.25em 0.5em;
}

.mkws-credo div.content {
    background: white;
    padding: 0.5em 1em;

    // Next is needed to make this area grow to contain floated images.
    // See http://www.quirksmode.org/css/clearing.html
    overflow: auto;
}

.mkws-reference h1 {
    display:none;
}

.mkws-reference img {
    float: left;
    margin: 0 1.5em 1em 0;
    border: 2px solid #c0c0c0;
    padding: 0.5em;
}

.mkws-credo .image .mkws-summary {
    float: left;
}

.mkws-credo .image a {
    text-decoration: none;
}

.mkws-credo hr.divider {
    margin: 20px 1%;
    border-top: 3px dotted #c0c0c0;
    color: #fff;
    background-color: #fff;
    height: 0;
    width: 98%;
}

.mkws-credit {
    font-size: small;
    text-align: right;
}

.mkws-credit::before {
    content: "Source: ";
    font-weight: bold;
}

.mkws-facet a {
    text-decoration: none;
}

.mkws-facet a:hover {
    text-decoration: underline;
}

.mkws-term {
    clear: both;
}

.mkws-term span {
    float: right;
}

