body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
  background: radial-gradient(ellipse at center,  #ffffff 0%,#f8f8f8 100%);
  font-weight: 300;
}
b, strong {
  font-weight: 400; 
}
.panel {
  border: none;
  background: white;
  padding: 1em .75em;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  color: #76868A;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.09);
  margin-bottom: 2em;
}

.panel-default > .panel-heading {
  background-image: none; 
  border: none;
  background-color: white;
}

.panel-heading {
  padding: 0.5em 15px 0;
}

.panel-title {
  font-size: 130%;
  color: #4A5456;
}

.panel-body {
  padding: 10px 15px; 
}

.mkws-facet-title {
  font-style: italic;
  font-weight: 400;
}
  .mkws-term {
    padding: .1em 0;
  }
  .mkws-term a {
    padding-right: .5em; 
    font-weight: 400;
  }

.mkws-summary {
  margin: .5em 0;
  line-height: 1.35;
  min-height: 60px;
}
.articles .mkws-summary, .alltargets .mkws-summary {
  min-height: 0;
}
.articles .mkws-field-thumb, .alltargets .mkws-field-thumb {
  display: none;
}
.mkws-summary:last-child {
  padding-bottom: 0;
}
  
.container .jumbotron {
  background: none;
  padding: 0 2em 0 0;
  box-shadow: none;
  color: black;
}  
  .jumbotron .mkws-summary {
    line-height: 1.5;  
  }
  .jumbotron p{
    font-size: 150%; 
  }
  .mkws-credit {
    font-size: 125% !important;
    font-style: italic;
  }
  
.mkws-google-image .mkws-summary {
  padding: 0;
  font-weight: 400;
}
  .mkws-google-image img {
    max-width: 100%;
    max-height: 180px;
    padding: 1em 0 .5em;
  }
.list-group-item {
  padding: 10px 15px !important;
}
.list-group {
  box-shadow: none;
  -webkit-box-shadow: none;
}

/* Fields */
.mkws-field-thumb {
  height: 60px;
  width: 80px;
  overflow: hidden;
  margin-right: 1em;
  float: left;
}
.mkws-field-thumb > img {
  height: 60px;
  max-width: 80px;
} 
.mkws-field-description {
  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (min-width:700px) {
  .multicol {
    column-count: 2;
    column-gap: 20px;
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
  }
}
@media screen and (min-width:900px) {
  .multicol {
    column-count: 3;
    column-gap: 20px;
    -moz-column-count: 3;
    -moz-column-gap: 20px;
    -webkit-column-count: 3;
    -webkit-column-gap: 20px;
  }
}
