{{!
Termlists, a container of all configured facets.

team - the current team
facets - array of facet names
}}

<div class="mkws-termlists-title">Termlists</div>
{{#each facets}}
  <div class="mkws-facet mkws-team-{{../team}}" data-mkws-facet="{{this}}"></div>
{{/each}}
